 <div class="maincontent">
  <article class="article">
    <h1 class="article-title">What is Hacker Talk?</h1>
      <p>Hacker Talk is a confrence where White Hat Hackers talk about computer security, and how importent it is for bussiness to have.</p>
     
  </article><!-- article -->

  <article class="article">
    <h1 class="article-title">Get Busy!</h1>
    <p>If you want to  come to Hacker talk keep and eye out on this page for all the info.</p>
  </article><!-- article -->

  <article class="article">
    <h1 class="article-title">Who should come?</h1>
    <ul>
      <li>Small/Big bussiness </li>
      <li>Other White Hat hackers /li>
      <li> Anyone who wants to know about Cyber Security  </li>
    </ul>
  </article><!-- article -->
</div>
