 <article class="sidebar">
  <h1 class="sidebar-title">Who should come?</h1>
  <ul class="sidebar-body">
       <li>Small/Big bussiness </li>
      <li>Other White Hat hackers /li>
      <li> Anyone who wants to know about Cyber Security  </li>
  </ul>
</article><!-- article -->
 